---
import { ViewTransitions } from 'astro:transitions';
import '../../../css/global.css';
import { hasTag } from '../../../util/hasTag';
import { getCollection, getEntryBySlug } from 'astro:content';
import { Debug } from 'astro/components';

export const getStaticPaths = async () =>
    [
        'year',
        'metaphysics',
        'epistemology',
        'philosophy',
        'book',
        'fiction',
        'politics',
        'person',
        'meta',
        'axiom',
        'praxeology',
        'economics',
        'non-fiction',
        'ethics',
        'aesthetics',
        'history-of-philosophy',
    ].map(x => ({
        params: {
            tag: x,
        },
    }));

import { getCollection, getEntryBySlug } from 'astro:content';
const brain = await getCollection('brain');
const notes = brain
    .filter(x => !hasTag(x.data.tags, 'meta'))
    .filter(x => !hasTag(x.data.tags, 'year'))
    .map(x => x.id.split('.')[0]);

const { tag } = Astro.params;

import Layout from '../../../layouts/BrainLayout.astro';
import {
    TailwindSearch,
    BuyCoffee,
    NoisePanel,
    Footer,
    SkipToContent,
} from '../../../components';

import { BrainNavbar, BrainPanel } from '../components';
---

<Layout
    title={`${tag} | Brain`}
    description={'My brain, online.'}
    slug={'brain'}>
    <!-- <ViewTransitions slot="head" /> -->
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Oswald&family=Phudu&family=Bebas+Neue"
        slot="head"
    />
    <!-- <Debug {noteInfo} /> -->
    <SkipToContent href="#md-content" />
    <BrainNavbar tag={tag} />

    <main class="w-full bg-[#0B0F13]">
        <h1 class="text-center text-6xl pt-32" transition:animate="slide">
            <span class="oswald">Results for</span>
            <a
                href={`/brain/tag/${tag}`}
                class="inline-block rounded-full bg-violet-900/50 hover:bg-violet-900 py-2 px-4 !text-white !no-underline">
                #{tag}
            </a>
        </h1>
        <ul
            transition:animate="slide"
            class="py-32 flex flex-row justify-center flex-wrap gap-3 w-[90vw] m-auto">
            {
                brain
                    .filter(x => hasTag(x.data.tags, tag))
                    .map(x => (
                        <li class="grow">
                            <a
                                class="text-center"
                                href={`/brain/note/${x.slug}`}>
                                <BrainPanel>{x.id.split('.')[0]}</BrainPanel>
                            </a>
                        </li>
                    ))
            }
        </ul>
    </main>
    <Footer noShadow={true} />
</Layout>
