---
export interface Props {
    title: string;
    body: string;
    href: string;
}

const { href, title, img, available, button, uniform } = Astro.props;

// see:
// + https://www.youtube.com/watch?v=Z-3tPXf9a7M
// + https://codepen.io/markmiro/pen/wbqMPa
// + https://albertwalicki.com/learn/solutions/how-to-limit-text-to-n-lines
---

<script>
    const truncate = () =>
        document.querySelectorAll('.card-text').forEach(el => {
            const lines = el.offsetHeight / parseInt(el.style.lineHeight);
            el.style.lineClamp = Math.floor(lines);
            el.style.webkitLineClamp = Math.floor(lines);
            el.style.height =
                Math.floor(lines) * parseInt(el.style.lineHeight) + 'px';
            console.log(el.offsetHeight, lines * parseInt(el.style.lineHeight));
        });

    truncate();
</script>

<div
    class=`${!!uniform ? 'h-[35rem]' : ''} card w-96 bg-slate-800 text-slate-50 drop-shadow-2xl`>
    <figure class="overflow-hidden w-96">
        {
            !!available ? (
                <img src={img} />
            ) : (
                <img class="saturate-[0.8]" src={img} />
            )
        }
    </figure>
    <div class="card-body grid content-start">
        <h2 class="card-title">{title}</h2>
        <p
            style="line-height: 28px; display: -webkit-box; -webkit-box-orient: vertical;"
            class={`card-text fade-out text-lg my-3 break-normal ${
                !!uniform ? `h-[20vh] overflow-hidden text-ellipsis` : ''
            } text-justify`}>
            {
                !!available ? (
                    <slot />
                ) : (
                    <span class="text-slate-400">
                        This course is currently unavailable.
                    </span>
                )
            }
        </p>
        {!!uniform ? <Fragment /> : <Fragment />}
        <div class="card-actions justify-end">
            {
                !!available ? (
                    <a href={href}>
                        <button
                            tabindex="-1"
                            class="btn bg-gradient-to-r from-orange-500 to-amber-500 hover:scale-105">
                            {button}
                        </button>
                    </a>
                ) : (
                    <button class="btn btn-disabled text-slate-500">
                        Unavailable
                    </button>
                )
            }
        </div>
    </div>
</div>
<!--<div class="bg-gradient-to-t h-[15vh] mt-[-15vh] from-slate-800 " /><!--via-[rgba(30, 41, 59, 0.9)]-
-->
